<td><%= title %></td>
<td><%= content %></td>
<td>
	
	<div class="btn-group">
    <a class="btn" href="#/<%=id %>">Show</a>
    <a class="btn" href="#/<%= id %>/edit">Edit</a>
    <a class="btn destroy" href="#/<%= id %>/destroy">Delete</a>
  </div>
  
	<!--
  <div class="btn-group">
    <button class="btn" data-value="#/<%= id %>">Show</button>
    <button class="btn" data-value="#/<%= id %>/edit">Edit</button>
    <button class="btn" data-value="#/<%= id %>/destroy">Destroy</button>
  </div>
  -->
  
  <!-- <a href="#/<%=id %>">Show</a> | <a href="#/<%= id %>/edit">Edit</a> | <a href="#/<%= id %>/destroy">Destroy</a> -->
</td>
